#ui
API_URL=http://localhost/api
APP_NAME=ui

#python-service
JOB1_ENABLED=true
JOB1_INTERVAL_SECONDS=30

#api
APP_NAME=Example Service
LOG_LEVEL=INFO

#db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mydb
POSTGRES_USER=admin_user
POSTGRES_PASSWORD=admin_password

#rabbitmq
RABBITMQ_DEFAULT_USER=appuser
RABBITMQ_DEFAULT_PASSWORD=password
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=appuser
RABBITMQ_PASSWORD=password