#ui
API_URL=http://localhost
APP_NAME=ui

#python-service
JOB1_ENABLED=true
JOB1_INTERVAL_SECONDS=30

#api
APP_NAME=Example Service
LOG_LEVEL=INFO

#db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=mydb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password